<style>

.Register_Screen {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 640px;
  height: 1136px;
  z-index: 135;
}
.Footer {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 640px;
  height: 1136px;
  z-index: 110;
}
.Copyright_©_2016_All_right_reserved__StartUP_Pr {
  font-size: 12px;
  font-family: "Montserrat";
  color: rgb(255, 255, 255);
  line-height: 2.5;
  text-align: center;
  position: absolute;
  left: 86.405px;
  top: 1129.848px;
  width: 372px;
  height: 11px;
  z-index: 109;
}
.ARE_YOU_A_MEMBER___LOGIN {
  font-size: 14px;
  font-family: "Montserrat";
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 2.143;
  position: absolute;
  left: 200.823px;
  top: 1034.169px;
  z-index: 108;
}
.Login_button {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 640px;
  height: 1136px;
  z-index: 106;
}
.REGISTER {
  font-size: 18px;
  font-family: "Montserrat";
  color: rgb(227, 42, 140);
  font-weight: bold;
  line-height: 1.667;
  position: absolute;
  left: 272.922px;
  top: 906.497px;
  z-index: 105;
}
.Rounded_Rectangle_3 {
  border-width: 3px;
  border-color: rgb(255, 255, 255);
  border-style: solid;
  background-color: rgb(255, 255, 255);
  position: absolute;
  left: 94px;
  top: 893px;
  width: 456px;
  height: 51px;
  z-index: 104;
}
.Forgot_Text {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 640px;
  height: 1136px;
  z-index: 102;
}
.I_accept_all_the_rules_ {
  font-size: 14px;
  font-family: "Montserrat";
  color: rgb(255, 255, 255);
  line-height: 2.143;
  text-align: left;
  position: absolute;
  left: 162.937px;
  top: 868.038px;
  width: 145px;
  height: 14px;
  z-index: 101;
}
.SelectBox {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 640px;
  height: 1136px;
  z-index: 99;
}
.brackets {
  background-color: rgb(255, 255, 255);
  position: absolute;
  left: 81px;
  top: 811px;
  width: 471px;
  height: 1px;
  z-index: 98;
}
.ic_arrow_down {
  background-color: rgb(70, 33, 173);
  position: absolute;
  left: 528px;
  top: 767px;
  width: 13px;
  height: 9px;
  z-index: 97;
}
.AGE {
  font-size: 18px;
  font-family: "Montserrat";
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 1.667;
  position: absolute;
  left: 160.842px;
  top: 756.497px;
  z-index: 96;
}
.SelectBox {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 640px;
  height: 1136px;
  z-index: 93;
}
.brackets {
  background-color: rgb(255, 255, 255);
  position: absolute;
  left: 81px;
  top: 736px;
  width: 471px;
  height: 1px;
  z-index: 92;
}
.ic_arrow_down {
  background-color: rgb(70, 33, 173);
  position: absolute;
  left: 528px;
  top: 692px;
  width: 13px;
  height: 9px;
  z-index: 91;
}
.YEARS {
  font-size: 18px;
  font-family: "Montserrat";
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 1.667;
  position: absolute;
  left: 160.532px;
  top: 681.497px;
  z-index: 90;
}
.SelectBox {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 640px;
  height: 1136px;
  z-index: 87;
}
.brackets {
  background-color: rgb(255, 255, 255);
  position: absolute;
  left: 81px;
  top: 657px;
  width: 471px;
  height: 1px;
  z-index: 86;
}
.ic_arrow_down {
  background-color: rgb(70, 33, 173);
  position: absolute;
  left: 528px;
  top: 613px;
  width: 13px;
  height: 9px;
  z-index: 85;
}
.CITY {
  font-size: 18px;
  font-family: "Montserrat";
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 1.667;
  position: absolute;
  left: 160.886px;
  top: 602.497px;
  z-index: 84;
}
.SelectBox {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 640px;
  height: 1136px;
  z-index: 81;
}
.brackets {
  background-color: rgb(255, 255, 255);
  position: absolute;
  left: 81px;
  top: 576px;
  width: 471px;
  height: 1px;
  z-index: 80;
}
.ic_arrow_down {
  background-color: rgb(70, 33, 173);
  position: absolute;
  left: 528px;
  top: 532px;
  width: 13px;
  height: 9px;
  z-index: 78;
}
.COUNTRY {
  font-size: 18px;
  font-family: "Montserrat";
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 1.667;
  position: absolute;
  left: 160.886px;
  top: 521.497px;
  z-index: 77;
}
.input {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 640px;
  height: 1136px;
  z-index: 75;
}
.hi_gokhankara_net {
  font-size: 18px;
  font-family: "Montserrat";
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 1.667;
  position: absolute;
  left: 162.886px;
  top: 462.635px;
  z-index: 74;
}
.active {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 640px;
  height: 1136px;
  z-index: 73;
}
.Ellipse_1 {
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  position: absolute;
  left: 70px;
  top: 422px;
  width: 52px;
  height: 52px;
  z-index: 71;
}
.brackets {
  background-color: rgb(255, 255, 255);
  position: absolute;
  left: 83px;
  top: 492px;
  width: 471px;
  height: 1px;
  z-index: 69;
}
.input {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 640px;
  height: 1136px;
  z-index: 67;
}
.brackets {
  background-color: rgb(255, 255, 255);
  position: absolute;
  left: 81px;
  top: 400px;
  width: 471px;
  height: 1px;
  z-index: 66;
}
.GokhanKara {
  font-size: 18px;
  font-family: "Montserrat";
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 1.667;
  position: absolute;
  left: 159.886px;
  top: 349.997px;
  z-index: 64;
}
.Project_Content_Text {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 640px;
  height: 1136px;
  z-index: 61;
}
.Lorem_Ipsum_is_simply_dummy_text_of_the_printin {
  font-size: 14px;
  font-family: "Montserrat";
  color: rgb(255, 255, 255);
  line-height: 2.143;
  text-align: center;
  position: absolute;
  left: 85.646px;
  top: 293.082px;
  width: 450px;
  height: 44px;
  z-index: 60;
}
.Logo {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 640px;
  height: 1136px;
  z-index: 58;
}
.Shape_1 {
  background-color: rgb(255, 255, 255);
  position: absolute;
  left: 305px;
  top: 211px;
  width: 30px;
  height: 1px;
  z-index: 57;
}
.StartUP {
  font-size: 30px;
  font-family: "Montserrat";
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 1;
  position: absolute;
  left: 259.257px;
  top: 159.5px;
  z-index: 55;
}
.Background {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 640px;
  height: 1136px;
  z-index: 53;
}
.Shadow_Color {
  background-image: url("Shadow Color.png");
  position: absolute;
  left: -227px;
  top: 702px;
  width: 867px;
  height: 628px;
  z-index: 52;
}
.Layer_2 {
  background-image: url("Layer 2.png");
  opacity: 0.302;
  position: absolute;
  left: -345px;
  top: -3px;
  width: 1738px;
  height: 1159px;
  z-index: 51;
}
.App_Main_Bg {
  background-color: #6879b7;



}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}

.video-container iframe, .video-container object, .video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

</style>
<ion-view view-title="Soccer">
    <ion-content class="im-wrapper App_Main_Bg">
      <div class="card">
          <ion-item>
              <div class="video-container">
                  <iframe src="http://www.youtube.com/embed/uJAWaE11Jf4" frameborder="0" width="560" height="315"></iframe>
              </div>
          </ion-item>
      </div>
      <div class="list card">

    <div class="item item-avatar">
      <img src="mcfly.jpg">
      <h2>Marty McFly</h2>
      <p>November 05, 1955</p>
    </div>

    <div class="item item-body">
      <img class="full-image" src="delorean.jpg">
      <p style = "color:color: rgb(255, 255, 255);">
        This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
        the content is from a card-body consisting of an image and paragraph text. The footer
        consists of tabs, icons aligned left, within the card-footer.
      </p>
      <p>
        <a href="#" class="subdued">1 Like</a>
        <a href="#" class="subdued">5 Comments</a>
      </p>
    </div>

  </div>

  <div class="list card">

<div class="item item-avatar">
  <img src="mcfly.jpg">
  <h2>Marty McFly</h2>
  <p>November 05, 1955</p>
</div>

<div class="item item-body">
  <img class="full-image" src="delorean.jpg">
  <p style = "color:color: rgb(255, 255, 255);">
    This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
    the content is from a card-body consisting of an image and paragraph text. The footer
    consists of tabs, icons aligned left, within the card-footer.
  </p>
  <p>
    <a href="#" class="subdued">1 Like</a>
    <a href="#" class="subdued">5 Comments</a>
  </p>
</div>

</div>

<div class="list card">

<div class="item item-avatar">
<img src="mcfly.jpg">
<h2>Marty McFly</h2>
<p>November 05, 1955</p>
</div>

<div class="item item-body">
<img class="full-image" src="delorean.jpg">
<p style = "color:color: rgb(255, 255, 255);">
  This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
  the content is from a card-body consisting of an image and paragraph text. The footer
  consists of tabs, icons aligned left, within the card-footer.
</p>
<p>
  <a href="#" class="subdued">1 Like</a>
  <a href="#" class="subdued">5 Comments</a>
</p>
</div>

</div>
        Ionic extensions get materialized, with no additional code needed. View <a href="http://ionicframework.com/docs/api/" class="link" target="_blank">Ionic's Extensions API</a> for implementation details.<br /><br />
        <button class="button button-full" ng-click="loading()">Loading</button>
        <div class="code-wrapper">
            <a class="toggle">Material Loading Template</a>
            <div class="code">
                $ionicLoading.show({
                template: <strong class="balanced-900 bold balanced-100-bg">'&lt;div class="loader"&gt;&lt;svg class="circular"&gt;&lt;circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/&gt;&lt;/svg&gt;&lt;/div&gt;'</strong>
                });
            </div>
        </div>
        <button class="button button-full" ng-click="showPopup()">Pop-Up</button>
        <div class="code-wrapper">
            <a class="toggle">To Add Ink</a>
            <div class="code">
                var alertPopup = $ionicPopup.alert({
                title: 'You are now my subscribed to Cat Facts',
                template: 'You will meow receive fun daily facts about CATS!'
                });
                <strong class="balanced-900 bold balanced-100-bg">
                    // to activate ink on modal
                    $timeout(function() {
                    ionicMaterialInk.displayEffect();
                    }, 0);
                </strong>
            </div>
        </div>
        <button class="button button-full" ng-click="actionSheet()">Action Sheet</button>
        <button class="button button-full" ng-click="openModal()">Modal</button>
        <button class="button button-full" ng-click="popover()">Popover</button>
        <script id="my-modal.html" type="text/ng-template">
            <ion-modal-view>
                <ion-header-bar>
                    <h1 class="title">My Modal Title</h1>
                </ion-header-bar>
                <ion-content class="padding">
                    My Modal Contents
                </ion-content>
            </ion-modal-view>
        </script>
    </ion-content>
    <ion-tabs class="tabs-assertive tabs-icon-top">

      <ion-tab title="Live" icon-on="ion-ios-monitor"  href="#/app/home" icon-off="ion-ios-monitor-outline">

      </ion-tab>
      <ion-tab title="News" icon-on="ion-ios-paper"  href="#/app/news" icon-off="ion-ios-paper-outline">

      </ion-tab>

      <ion-tab title="Matches" icon-on="ion-ios-football"  href="#/app/matches" icon-off="ion-ios-football-outline">
        <!-- Tab 1 content -->
      </ion-tab>

      <ion-tab title="Top Players" icon-on="ion-ios-people"  href="#/app/players" icon-off="ion-ios-people-outline">
        <!-- Tab 2 content -->
      </ion-tab>

      <ion-tab title="Fan Club" icon-on="ion-chatbubble"  href="#/app/forum" icon-off="ion-chatbubble-working">
        <!-- Tab 3 content -->
      </ion-tab>

      <ion-tab title="Highlights" icon-on="ion-ios-videocam"  href="#/app/forum" icon-off="ion-ios-videocam-outline">
        <!-- Tab 3 content -->
      </ion-tab>




    </ion-tabs>
</ion-view>
